.item-display{
    color: white;
    margin-top: 30px;
}

.item-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.item-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 30px;
    gap: 40px;
    row-gap: 50px;
    margin-bottom: 50px;
}

/* .item-display hr{
    margin-top: 30px;
    margin-bottom: 5px;
    height: 2px;
    background-color: rgba(224, 178, 11, 0.2);
    border: none;
} */
